/*Estilos básicos para todo el documento*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Para que el width y el height de un elemento incluyan el padding y el border*/
}
body{
    font-family: "Montserrat", sans-serif; /*Familia de fuentes utilizada en la página*/   
}
/*Estilos para la bara de navegación*/
nav{
    position: fixed; /*Fija la posición de la barra de navegación*/
    top: 0; /*Lo fija en la parte superior de la ventana*/
    width: 100%; /*Para todo el ancho de la ventana*/
    background-color: #1757B1; /*Es para el color de fondo*/
    display: flex; /*Para que los documentos se coloquen uno al costado de otro*/    
    justify-content: space-between; /*Separa los elementos de los extremos y reparte el espacio en medio*/
    padding: 15px 40px; /*Relleno del elemento*/
    z-index: 5000; /*Coloca a la barra de navegación para que no se solape*/
}
nav h2{
    color: #fff; /*Color de letra blanco para el título de la página*/
}
nav ul{
    display: flex;
    list-style: none; /*Para que no se vean las viñetas*/
}
nav li{
    margin-left: 20px; /*Establece un márgen izquierdo entre cada item del menú*/
}
nav a{
    color: #fff;
    text-decoration: none; /*Quita el subrayado a los enlaces*/
    font-weight: bold; /*Pone la letra en negrita*/
    font-size: 1.2em; /*Incrementa la letra de temaño en un 20%*/
}
/*Estilos para el elemento activo del menú*/
nav a.active{
    color: #FAF45DFF; /*Cambia el color de la letra*/
}
section{ /*Espaciado de secciones*/
    padding: 50px 40px;
}
#hero{
    height: 100vh; /*Para que la sección ocupe todo el alto de la pantalla*/
    background: url("../img/ho.jpg") center/cover no-repeat; /*Imagen de fondo centrada, que se extienda en toda la pantalla y que no se repita*/
    display:flex;
    flex-direction: column; /*Para que los elementos vayan uno debajo de otro*/
    justify-content: center; /*Centrar verticalmente*/
    align-items: center; /*Centrar horizontalmente*/
    color: #000000;
    text-align: center; /*Centra el texto*/
}
.contenedor{
    max-width: 1100px; /*Ancho máximo*/
    margin: auto; /*Centrar los contenedores*/
}
.contenedor h2{
    margin: 10px 0;
}
/*Estilos para las tarjetas de noticias*/
.card{
    background: #dee0e4;
    padding: 20px;
    border-radius: 10px; /*Para los bordes redondeados*/
    margin: 15px 0;
    transition: 0.3s;
}
.card:hover{
    transform: translateY(-5px); /*Al pasar el mouse sobre la tarjeta esta se mueve hacia arriba 5px*/
}
/*Estilos para el pie de página*/
footer{
    background: #07D3F9FF;
    color: #000000FF;
    text-align: center;
    padding: 30px;
}
/*Estilos para los íconos de redes*/
.redes{
    margin-bottom: 15px;
}
.redes img{
    width: 100px;
    margin: 0 45px;
    transition: transform 0.5s; /*Tiempo que dura la transición de aumento de tamaño*/       
}
/*Aumentar el tamaño del ícono al pasar el mouse sobre la imagen*/
.redes img:hover{
    transform:scale(1.25);
}
/*Estilo responsive: Para pantallas menores a 768px los elementos de la barra de navegación se colocarán uno debajo del otro*/
@media(max-width: 768px){
    nav{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
    }
}
