<!DOCTYPE html>
<!--Inicio del html donde se especifica que el documento está en idioma español-->
<html lang = "es">
    <head>
       <!--Configuración de caracteres especiales como tildes, ñ, etc -->
        <meta charset="utf-8">
       <!--Título de la página-->
        <title>
        PedidosAndre
       </title>
       <!--Estilos de la página-->
       <link rel="stylesheet" href="../css/estilos.css">
       <!--Permite diseño responsive en móvil.-->
       <meta name="viewport" content="width=device-with, initial-scale=1.0">
        <!--Fuente de letras externas de google forms-->
       <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <!--Barra de navegación-->
        <nav>
            <!--Nombre de la página-->
            <h2>
                PedidosAndre
            </h2>
            <!--Menú de navegación-->
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="galeria.html" class="active">Galería</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
        <!--Galería-->
        <section class="contenedor">
            <h2>
                Galería
            </h2>
            <!--Contenedor dinámico, será llenado automáticamente con javascript-->
            <div id="galeria" class="grid"></div>
        </section>
        <!--Módal-->
        <div id="modal" class="modal">
            <!--Botón para cerrar el modal-->
            <span id="cerrar">&times;</span>
            <!--Imagen ampliada-->
            <img id="img-modal">
        </div>
        <!--Pie de página-->
        <footer>
            <!--Links de las redes sociales-->
            <div class="redes">
                <a href="https://www.facebook.com/andre.delaguilaocampo" target ="_blank"><img src="../img/facebook.png" alt="facebook"></a>
                <a href="https://www.instagram.com/" target ="_blank"><img src="../img/instagram.png" alt="instagram"></a>
                <a href="https://github.com/" target ="_blank"><img src="../img/github.png" alt="github"></a>
                <a href="https://www.tiktok.com/es-419/" target ="_blank"><img src="../img/tiktok.png" alt="tiktok"></a>
            </div>
            <!--Dirección de la empresa-->
            <p>
                Dirección: Santsaerreka 13 bajo 0 izq, Araia/Álava
            </p>
            <!--Aviso legal-->
            <p>
                ©2026 PedidosAndre - Todos los derechos reservados
            </p>
        </footer>
        <!--Enlace al archivo javascript. Para que funcione el json, la página se debe correr sobre un servidor-->
        <script src="../js/galeria.js"></script>
    </body>
</html>